h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  font-family: sans-serif;
}

h2 {
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

li {
  font-size: 20px;
  line-height: 1.5;
}
