* {
  /* border-top: 5px solid red; */
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  color: red;
}

/* h1,
h2,color
h3,
h4,
h5,
p,
li {
  // font-family: sans-serif;
} */

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

li {
  font-size: 20px;
  line-height: 1.5;
}

/* footer p {
  font-size: 16px;
  color: red;
} */

/* article header p {
  color: green;
} */

#copyright {
  font-size: 16px;
}

#author {
  font-size: 18px;
}

/* ul {
  list-style: none;
} */

.related {
  list-style: none;
}

#related-author {
  font-weight: bold;
  font-size: 16px;
}

/* header {
  background-color: red;
} */

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  /* border: 5px solid #1098ad; */
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

/* pseudo classes and misconception 

   selector:pseudoclass{}
*/

/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* no, even, odd */
/* li:nth-child(2) {
  color: red;
} */
/* 
article p:first-child {
  color: red;
}

article p:last-child {
  color: red;
} */

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* Resolve conflicts 
  **) !important
  *) inline style
  1) id
  2) classes
  3) element

*/

/* #copyright {
  color: red;
  font-size: 20px;
}

.copyright {
  color: blue;
}
.text {
  color: yellow;
}

footer p {
  color: green !important;
} */

/* nav a:link,
nav strong {
  font-size: 18px;
} */

nav {
  font-size: 18px;
}
